[package]
name = "impact_intersection"
description = "Geometry intersection testing for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
arbitrary = ["dep:arbitrary"]
ecs = ["dep:inventory", "dep:impact_ecs"]
fuzzing = ["arbitrary"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]

[dependencies]
anyhow = { workspace = true }
arbitrary = { workspace = true, optional = true }
bytemuck = { workspace = true }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_id = { path = "../impact_id" }
impact_math = { path = "../impact_math" }
inventory = { workspace = true, optional = true }
roc_integration = { path = "../../../roc_integration" }

[lints]
workspace = true
