[package]
name = "impact_io"
description = "Input/output for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
ron = ["dep:ron", "serde"]
png = ["dep:png"]
jpeg = ["dep:zune-jpeg"]
serde = ["dep:serde"]

[dependencies]
anyhow = { workspace = true }
impact_alloc = { path = "../impact_alloc" }
impact_log = { path = "../impact_log" }
png = { version = "0.17", optional = true }
memmap2 = "0.9"
ron = { version = "0.10", optional = true }
serde = { workspace = true, optional = true }
zune-jpeg = { version = "0.4", optional = true }

[lints]
workspace = true
