[package]
name = "impact_mesh"
description = "Meshes for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
ecs = ["dep:inventory", "dep:impact_ecs"]
obj = ["dep:tobj"]
ply = ["dep:ply-rs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde", "impact_math/serde"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
bitflags = { workspace = true }
bytemuck = { workspace = true }
impact_alloc = { path = "../impact_alloc" }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_gpu = { path = "../impact_gpu" }
impact_log = { path = "../impact_log" }
impact_math = { path = "../impact_math" }
impact_resource = { path = "../impact_resource" }
inventory = { workspace = true, optional = true }
pastey = { workspace = true }
ply-rs = { version = "0.1", optional = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }
tobj = { version = "4.0", optional = true }

[lints]
workspace = true
