[package]
name = "impact_voxel"
description = "Voxels for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

build = "build.rs"

[features]
arbitrary = [
    "dep:arbitrary",
    "impact_ecs/arbitrary",
    "impact_gpu/arbitrary",
    "impact_math/arbitrary",
    "impact_physics/arbitrary",
    "impact_rendering/arbitrary",
]
ecs = [
    "dep:inventory",
    "dep:impact_ecs",
    "impact_geometry/ecs",
    "impact_physics/ecs",
    "impact_scene/ecs",
]
fuzzing = ["arbitrary"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
ron = ["impact_io/ron", "serde"]
serde = ["dep:serde", "impact_alloc/serde"]
unchecked = []

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
arbitrary = { workspace = true, optional = true }
bitflags = { workspace = true }
bytemuck = { workspace = true }
cfg-if = { workspace = true }
impact_alloc = { path = "../impact_alloc" }
impact_camera = { path = "../impact_camera" }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_gpu = { path = "../impact_gpu" }
impact_io = { path = "../impact_io" }
impact_log = { path = "../impact_log" }
impact_math = { path = "../impact_math" }
impact_mesh = { path = "../impact_mesh" }
impact_model = { path = "../impact_model" }
impact_physics = { path = "../impact_physics" }
impact_rendering = { path = "../impact_rendering" }
impact_resource = { path = "../impact_resource" }
impact_scene = { path = "../impact_scene" }
impact_texture = { path = "../impact_texture" }
impact_thread = { path = "../impact_thread" }
inventory = { workspace = true, optional = true }
parking_lot = { workspace = true }
pastey = { workspace = true }
rand = { workspace = true }
rand_pcg = "0.9"
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }
simdnoise = { git = "https://github.com/lars-frogner/rust-simd-noise" }
tinyvec = { workspace = true }
twox-hash = { version = "2.1", default-features = false, features = [
    "xxhash32",
] }

[lints]
workspace = true
