[package]
name = "impact_model"
description = "Management of model data for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde"]

[dependencies]
anyhow = { workspace = true }
bytemuck = { workspace = true }
impact_containers = { path = "../impact_containers" }
impact_gpu = { path = "../impact_gpu" }
impact_math = { path = "../impact_math" }
inventory = { workspace = true, optional = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }

[lints]
workspace = true
