[package]
name = "impact_model"
description = "Management of model data for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
ecs = ["dep:inventory", "dep:impact_ecs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde"]

[dependencies]
anyhow = { workspace = true }
bytemuck = { workspace = true }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_gpu = { path = "../impact_gpu" }
impact_id = { path = "../impact_id" }
impact_math = { path = "../impact_math" }
inventory = { workspace = true, optional = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }

[lints]
workspace = true
