[package]
name = "impact_geometry"
description = "Geometric primitives for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
ecs = ["dep:inventory", "dep:impact_ecs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
bytemuck = { workspace = true }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_math = { path = "../impact_math" }
inventory = { workspace = true, optional = true }
roc_integration = { path = "../../../roc_integration" }

[lints]
workspace = true
