[package]
name = "impact_physics"
description = "Physics for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
arbitrary = ["dep:arbitrary"]
postcard = ["dep:postcard", "serde"]
ecs = ["dep:inventory", "dep:impact_ecs", "impact_geometry/ecs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde", "nalgebra/serde-serialize", "impact_math/serde"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
arbitrary = { workspace = true, optional = true }
postcard = { workspace = true, optional = true }
bitflags = { workspace = true }
bytemuck = { workspace = true }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_io = { path = "../impact_io" }
impact_log = { path = "../impact_log" }
impact_math = { path = "../impact_math" }
inventory = { workspace = true, optional = true }
nalgebra = { workspace = true }
num-traits = { workspace = true }
pastey = { workspace = true }
roc_integration = { path = "../../../roc_integration" }
roots = "0.0.8"
serde = { workspace = true, optional = true }
simba = { workspace = true }
tinyvec = { workspace = true }

[dev-dependencies]
impact_mesh = { path = "../impact_mesh" }
proptest = "1.7"

[lints]
workspace = true
