[package]
name = "impact_gizmo"
description = "Simple visual elements drawn over the scene to provide technical information"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
ecs = ["dep:inventory", "dep:impact_ecs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
bitflags = { workspace = true }
bytemuck = { workspace = true }
impact_camera = { path = "../impact_camera" }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_gpu = { path = "../impact_gpu" }
impact_id = { path = "../impact_id" }
impact_intersection = { path = "../impact_intersection" }
impact_light = { path = "../impact_light" }
log = { path = "../../../interop/log" }
impact_math = { path = "../impact_math" }
impact_mesh = { path = "../impact_mesh" }
impact_model = { path = "../impact_model" }
impact_physics = { path = "../impact_physics" }
impact_rendering = { path = "../impact_rendering" }
impact_scene = { path = "../impact_scene" }
impact_voxel = { path = "../impact_voxel" }
inventory = { workspace = true, optional = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }
tinyvec = { workspace = true }

[lints]
workspace = true
