(
    textures: [
        Cubemap(
            name: "space_skybox",
            right_image_path: "../assets/space_skybox/right.png",
            left_image_path: "../assets/space_skybox/left.png",
            top_image_path: "../assets/space_skybox/top.png",
            bottom_image_path: "../assets/space_skybox/bottom.png",
            front_image_path: "../assets/space_skybox/front.png",
            back_image_path: "../assets/space_skybox/back.png",
            texture_config: (
                color_space: Srgb,
            ),
            sampler_config: Some(()),
        ),
        Cubemap(
            name: "ocean_skybox",
            right_image_path: "../assets/ocean_skybox/right.jpg",
            left_image_path: "../assets/ocean_skybox/left.jpg",
            top_image_path: "../assets/ocean_skybox/top.jpg",
            bottom_image_path: "../assets/ocean_skybox/bottom.jpg",
            front_image_path: "../assets/ocean_skybox/front.jpg",
            back_image_path: "../assets/ocean_skybox/back.jpg",
            texture_config: (
                color_space: Srgb,
            ),
            sampler_config: Some(()),
        ),
        // Texture(
        //     name: "concrete_color_texture",
        //     image_path: "../assets/Concrete034_4K-JPG/Concrete034_4K-JPG_Color.jpg",
        //     texture_config: (
        //         color_space: Srgb,
        //     ),
        //     sampler_config: Some((
        //         addressing: Repeating,
        //     )),
        // ),
        // Texture(
        //     name: "concrete_roughness_texture",
        //     image_path: "../assets/Concrete034_4K-JPG/Concrete034_4K-JPG_Roughness.jpg",
        //     texture_config: (
        //         color_space: Linear,
        //     ),
        //     sampler_config: Some((
        //         addressing: Repeating,
        //     )),
        // ),
        // Texture(
        //     name: "concrete_normal_texture",
        //     image_path: "../assets/Concrete034_4K-JPG/Concrete034_4K-JPG_NormalDX.jpg",
        //     texture_config: (
        //         color_space: Linear,
        //     ),
        //     sampler_config: Some((
        //         addressing: Repeating,
        //     )),
        // ),
        // Texture(
        //     name: "plastic_color_texture",
        //     image_path: "../assets/Plastic007_4K-JPG/Plastic007_4K-JPG_Color.jpg",
        //     texture_config: (
        //         color_space: Srgb,
        //     ),
        //     sampler_config: Some((
        //         addressing: Repeating,
        //     )),
        // ),
        // Texture(
        //     name: "plastic_roughness_texture",
        //     image_path: "../assets/Plastic007_4K-JPG/Plastic007_4K-JPG_Roughness.jpg",
        //     texture_config: (
        //         color_space: Linear,
        //     ),
        //     sampler_config: Some((
        //         addressing: Repeating,
        //     )),
        // ),
        // Texture(
        //     name: "plastic_normal_texture",
        //     image_path: "../assets/Plastic007_4K-JPG/Plastic007_4K-JPG_NormalDX.jpg",
        //     texture_config: (
        //         color_space: Linear,
        //     ),
        //     sampler_config: Some((
        //         addressing: Repeating,
        //     )),
        // ),
        Texture(
            name: "bricks_color_texture",
            image_path: "../assets/Bricks059_4K-JPG/Bricks059_4K-JPG_Color.jpg",
            texture_config: (
                color_space: Srgb,
            ),
            sampler_config: Some((
                addressing: Repeating,
            )),
        ),
        Texture(
            name: "bricks_roughness_texture",
            image_path: "../assets/Bricks059_4K-JPG/Bricks059_4K-JPG_Roughness.jpg",
            texture_config: (
                color_space: Linear,
            ),
            sampler_config: Some((
                addressing: Repeating,
            )),
        ),
        Texture(
            name: "bricks_height_texture",
            image_path: "../assets/Bricks059_4K-JPG/Bricks059_4K-JPG_Displacement.jpg",
            texture_config: (
                color_space: Linear,
            ),
            sampler_config: Some((
                addressing: Repeating,
            )),
        ),
        Texture(
            name: "wood_floor_color_texture",
            image_path: "../assets/WoodFloor041_4K-JPG/WoodFloor041_4K-JPG_Color.jpg",
            texture_config: (
                color_space: Srgb,
            ),
            sampler_config: Some((
                addressing: Repeating,
            )),
        ),
        Texture(
            name: "wood_floor_roughness_texture",
            image_path: "../assets/WoodFloor041_4K-JPG/WoodFloor041_4K-JPG_Roughness.jpg",
            texture_config: (
                color_space: Linear,
            ),
            sampler_config: Some((
                addressing: Repeating,
            )),
        ),
        Texture(
            name: "wood_floor_normal_texture",
            image_path: "../assets/WoodFloor041_4K-JPG/WoodFloor041_4K-JPG_NormalDX.jpg",
            texture_config: (
                color_space: Linear,
            ),
            sampler_config: Some((
                addressing: Repeating,
            )),
        ),
    ],
    triangle_meshes: [
        (
            name: "dragon",
            file_path: "../assets/Dragon_1.obj",
        ),
        (
            name: "abstract_object",
            file_path: "../assets/abstract_object.obj",
        ),
        (
            name: "abstract_pyramid",
            file_path: "../assets/abstract_pyramid.obj",
        ),
        (
            name: "abstract_cube",
            file_path: "../assets/abstract_cube.obj",
        ),
    ]
)
