({
    KeyS: MoveForwards,
    KeyW: MoveBackwards,
    KeyD: MoveRight,
    KeyA: MoveLeft,
    KeyQ: MoveUp,
    KeyE: MoveDown,
    Tab: ToggleInteractionMode,
    KeyF: ToggleWireframeMode,
    KeyI: ToggleShadowMapping,
    KeyO: ToggleAmbientOcclusion,
    KeyY: ToggleTemporalAntiAliasing,
    KeyU: ToggleBloom,
    KeyT: CycleToneMapping,
    KeyX: IncreaseExposure,
    KeyZ: DecreaseExposure,
    KeyV: ToggleRenderAttachmentVisualization,
    KeyB: CycleVisualizedRenderAttachmentQuantityForward,
    KeyC: CycleVisualizedRenderAttachmentQuantityBackward,
    KeyP: ToggleRenderPassTimings,
    KeyM: IncrementSimulationSubstepCount,
    KeyN: DecrementSimulationSubstepCount,
    Period: IncreaseSimulationSpeed,
    Comma: DecreaseSimulationSpeed,
    F12: SaveScreenshot,
    F10: SaveOmnidirectionalLightShadowMap,
    F9: SaveUnidirectionalLightShadowMap,
    Escape: Exit
})
