[
    (
        name: "Default",
        mass_density: 1.0,
        color: Uniform((0.9, 0.9, 0.9)),
        specular_reflectance: 0.02,
        roughness: Uniform(0.5),
        metalness: 0.0,
        emissive_luminance: 0.0,
        normal_map: None,
    ),
    (
        name: "Ground",
        mass_density: 1.0,
        color: Textured("../resources/Ground029_4K-JPG/Ground029_4K-JPG_Color.jpg"),
        specular_reflectance: 0.02,
        roughness: Textured(
            path: "../resources/Ground029_4K-JPG/Ground029_4K-JPG_Roughness.jpg",
            scale_factor: 1.0,
        ),
        metalness: 0.0,
        emissive_luminance: 0.0,
        normal_map: Some((
            path: "../resources/Ground029_4K-JPG/Ground029_4K-JPG_NormalDX.jpg",
        )),
    ),
    (
        name: "Metal",
        mass_density: 1.0,
        color: Textured("../resources/Metal062C_4K-JPG/Metal062C_4K-JPG_Color.jpg"),
        specular_reflectance: 1.0,
        roughness: Textured(
            path: "../resources/Metal062C_4K-JPG/Metal062C_4K-JPG_Roughness.jpg",
            scale_factor: 1.0,
        ),
        metalness: 1.0,
        emissive_luminance: 0.0,
        normal_map: Some((
            path: "../resources/Metal062C_4K-JPG/Metal062C_4K-JPG_NormalDX.jpg",
        )),
    ),
    (
        name: "Snow",
        mass_density: 1.0,
        color: Textured("../resources/Snow007A_4K-JPG/Snow007A_4K-JPG_Color.jpg"),
        specular_reflectance: 0.04,
        roughness: Textured(
            path: "../resources/Snow007A_4K-JPG/Snow007A_4K-JPG_Roughness.jpg",
            scale_factor: 1.0,
        ),
        metalness: 0.0,
        emissive_luminance: 0.0,
        normal_map: Some((
            path: "../resources/Snow007A_4K-JPG/Snow007A_4K-JPG_NormalDX.jpg",
        )),
    ),
    (
        name: "Rock",
        mass_density: 1.0,
        color: Textured("../resources/Rock022_4K-JPG/Rock022_4K-JPG_Color.jpg"),
        specular_reflectance: 0.03,
        roughness: Textured(
            path: "../resources/Rock022_4K-JPG/Rock022_4K-JPG_Roughness.jpg",
            scale_factor: 1.0,
        ),
        metalness: 0.0,
        emissive_luminance: 0.0,
        normal_map: Some((
            path: "../resources/Rock022_4K-JPG/Rock022_4K-JPG_NormalDX.jpg",
        )),
    ),
    (
        name: "Brick",
        mass_density: 1.0,
        color: Textured("../resources/Bricks059_4K-JPG/Bricks059_4K-JPG_Color.jpg"),
        specular_reflectance: 0.02,
        roughness: Textured(
            path: "../resources/Bricks059_4K-JPG/Bricks059_4K-JPG_Roughness.jpg",
            scale_factor: 1.0,
        ),
        metalness: 0.0,
        emissive_luminance: 0.0,
        normal_map: Some((
            path: "../resources/Bricks059_4K-JPG/Bricks059_4K-JPG_NormalDX.jpg",
        )),
    ),
    (
        name: "Wood",
        mass_density: 1.0,
        color: Textured("../resources/WoodFloor041_4K-JPG/WoodFloor041_4K-JPG_Color.jpg"),
        specular_reflectance: 0.03,
        roughness: Textured(
            path: "../resources/WoodFloor041_4K-JPG/WoodFloor041_4K-JPG_Roughness.jpg",
            scale_factor: 1.0,
        ),
        metalness: 0.0,
        emissive_luminance: 0.0,
        normal_map: Some((
            path: "../resources/WoodFloor041_4K-JPG/WoodFloor041_4K-JPG_NormalDX.jpg",
        )),
    ),
]
