[package]
name = "impact_math"
description = "Mathematical utilities for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
arbitrary = ["dep:arbitrary", "glam/arbitrary"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde", "glam/serde"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
arbitrary = { workspace = true, optional = true }
bytemuck = { workspace = true }
fastrand = "2.3"
glam = { version = "0.30", features = ["approx", "bytemuck"] }
hashing = { path = "../../../interop/hashing" }
impact_containers = { path = "../impact_containers" }
inventory = { workspace = true, optional = true }
parking_lot = { workspace = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }

[lints]
workspace = true
