(
    kind: Subgraph(
        root_node_id: 28,
    ),
    nodes: [
        (
            id: 28,
            position: (302.4364, 430.45224),
            name: "Medium craters",
            kind: SDFSubtraction,
            params: [
                Float(3.0),
            ],
            links_to_parents: [
                None,
                None,
            ],
            links_to_children: [
                None,
                Some((
                    to_node: 26,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 26,
            position: (224.23247, 609.0502),
            name: "",
            kind: SDFGroupUnion,
            params: [
                Float(3.0),
            ],
            links_to_parents: [
                Some((
                    to_node: 28,
                    to_slot: 1,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 25,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 25,
            position: (224.23247, 825.1583),
            name: "",
            kind: SDFInstantiation,
            params: [],
            links_to_parents: [
                Some((
                    to_node: 26,
                    to_slot: 0,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 30,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 30,
            position: (224.23248, 994.37866),
            name: "",
            kind: RayTranslationToSurface,
            params: [
                Enum(1),
            ],
            links_to_parents: [
                Some((
                    to_node: 25,
                    to_slot: 0,
                )),
            ],
            links_to_children: [
                None,
                Some((
                    to_node: 27,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 27,
            position: (224.23248, 1126.0887),
            name: "",
            kind: SphereSurfaceTransforms,
            params: [
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 300.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 1.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Enum(2),
                UInt(0),
            ],
            links_to_parents: [
                Some((
                    to_node: 30,
                    to_slot: 1,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 29,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 29,
            position: (224.23248, 1304.6866),
            name: "",
            kind: Rotation,
            params: [
                Enum(0),
                Distributed((
                    variant: UniformCosAngle,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 60.0,
                        ),
                    )),
                    uniform_cos_angle: Some((
                        min_angle: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max_angle: (
                            variant: Fixed,
                            fixed: 80.0,
                        ),
                    )),
                    power_law: None,
                )),
                Distributed((
                    variant: UniformCosAngle,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 360.0,
                        ),
                    )),
                    uniform_cos_angle: Some((
                        min_angle: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max_angle: (
                            variant: Fixed,
                            fixed: 360.0,
                        ),
                    )),
                    power_law: None,
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                UInt(0),
                Enum(1),
            ],
            links_to_parents: [
                Some((
                    to_node: 27,
                    to_slot: 0,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 23,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 23,
            position: (224.23248, 1520.7948),
            name: "",
            kind: Capsules,
            params: [
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: FromParam,
                        fixed: 100.0,
                        from_param: (
                            param_idx: 1,
                            mapping: (
                                variant: Linear,
                                linear: (
                                    offset: 0.0,
                                    scale: 1.0,
                                ),
                            ),
                        ),
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 30.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 30.0,
                        ),
                    )),
                    uniform_cos_angle: None,
                    power_law: Some((
                        min: (
                            variant: Fixed,
                            fixed: 30.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 60.0,
                        ),
                        exponent: (
                            variant: Fixed,
                            fixed: 1.0,
                        ),
                    )),
                )),
                Distributed((
                    variant: PowerLaw,
                    constant: (
                        variant: Fixed,
                        fixed: 19.9,
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 40.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 70.0,
                        ),
                    )),
                    uniform_cos_angle: None,
                    power_law: Some((
                        min: (
                            variant: Fixed,
                            fixed: 15.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 55.0,
                        ),
                        exponent: (
                            variant: Fixed,
                            fixed: 2.0,
                        ),
                    )),
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Distributed((
                    variant: Uniform,
                    constant: (
                        variant: FromParam,
                        fixed: 0.0,
                        from_param: (
                            param_idx: 1,
                            mapping: (
                                variant: Linear,
                                linear: (
                                    offset: 0.0,
                                    scale: 0.25,
                                ),
                            ),
                        ),
                    ),
                    uniform: Some((
                        min: (
                            variant: FromParam,
                            fixed: 0.0,
                            from_param: (
                                param_idx: 1,
                                mapping: (
                                    variant: Linear,
                                    linear: (
                                        offset: 0.0,
                                        scale: 0.15,
                                    ),
                                ),
                            ),
                        ),
                        max: (
                            variant: FromParam,
                            fixed: 0.0,
                            from_param: (
                                param_idx: 1,
                                mapping: (
                                    variant: Linear,
                                    linear: (
                                        offset: 0.0,
                                        scale: 0.3,
                                    ),
                                ),
                            ),
                        ),
                    )),
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                UInt(150),
                UInt(0),
                Enum(1),
            ],
            links_to_parents: [
                Some((
                    to_node: 29,
                    to_slot: 0,
                )),
            ],
            links_to_children: [],
        ),
    ],
    collapsed_nodes: [],
)