(
    kind: Subgraph(
        root_node_id: 59,
    ),
    nodes: [
        (
            id: 59,
            position: (224.23248, 8.129814),
            name: "Small craters",
            kind: SDFSubtraction,
            params: [
                Float(3.0),
            ],
            links_to_parents: [
                None,
            ],
            links_to_children: [
                None,
                Some((
                    to_node: 57,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 57,
            position: (224.23248, 109.72363),
            name: "",
            kind: SDFGroupUnion,
            params: [
                Float(3.0),
            ],
            links_to_parents: [
                Some((
                    to_node: 59,
                    to_slot: 1,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 56,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 56,
            position: (224.23248, 200.59158),
            name: "",
            kind: SDFInstantiation,
            params: [],
            links_to_parents: [
                Some((
                    to_node: 57,
                    to_slot: 0,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 61,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 61,
            position: (224.23248, 291.45953),
            name: "",
            kind: RayTranslationToSurface,
            params: [
                Enum(1),
            ],
            links_to_parents: [
                Some((
                    to_node: 56,
                    to_slot: 0,
                )),
            ],
            links_to_children: [
                None,
                Some((
                    to_node: 58,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 58,
            position: (303.48587, 419.23093),
            name: "",
            kind: SphereSurfaceTransforms,
            params: [
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 250.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 1.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Enum(2),
                UInt(0),
            ],
            links_to_parents: [
                Some((
                    to_node: 61,
                    to_slot: 1,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 60,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 60,
            position: (305.49222, 590.63165),
            name: "",
            kind: Rotation,
            params: [
                Enum(0),
                Distributed((
                    variant: UniformCosAngle,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 60.0,
                        ),
                    )),
                    uniform_cos_angle: Some((
                        min_angle: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max_angle: (
                            variant: Fixed,
                            fixed: 80.0,
                        ),
                    )),
                    power_law: None,
                )),
                Distributed((
                    variant: UniformCosAngle,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 360.0,
                        ),
                    )),
                    uniform_cos_angle: Some((
                        min_angle: (
                            variant: Fixed,
                            fixed: 0.0,
                        ),
                        max_angle: (
                            variant: Fixed,
                            fixed: 360.0,
                        ),
                    )),
                    power_law: None,
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                UInt(0),
                Enum(1),
            ],
            links_to_parents: [
                Some((
                    to_node: 58,
                    to_slot: 0,
                )),
            ],
            links_to_children: [
                Some((
                    to_node: 54,
                    to_slot: 0,
                )),
            ],
        ),
        (
            id: 54,
            position: (307.52136, 796.9358),
            name: "",
            kind: Capsules,
            params: [
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: FromParam,
                        fixed: 100.0,
                        from_param: (
                            param_idx: 1,
                            mapping: (
                                variant: Linear,
                                linear: (
                                    offset: 0.0,
                                    scale: 1.0,
                                ),
                            ),
                        ),
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 30.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 30.0,
                        ),
                    )),
                    uniform_cos_angle: None,
                    power_law: Some((
                        min: (
                            variant: Fixed,
                            fixed: 30.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 60.0,
                        ),
                        exponent: (
                            variant: Fixed,
                            fixed: 1.0,
                        ),
                    )),
                )),
                Distributed((
                    variant: PowerLaw,
                    constant: (
                        variant: Fixed,
                        fixed: 19.9,
                    ),
                    uniform: Some((
                        min: (
                            variant: Fixed,
                            fixed: 40.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 70.0,
                        ),
                    )),
                    uniform_cos_angle: None,
                    power_law: Some((
                        min: (
                            variant: Fixed,
                            fixed: 5.0,
                        ),
                        max: (
                            variant: Fixed,
                            fixed: 25.0,
                        ),
                        exponent: (
                            variant: Fixed,
                            fixed: 2.0,
                        ),
                    )),
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Distributed((
                    variant: Uniform,
                    constant: (
                        variant: FromParam,
                        fixed: 0.0,
                        from_param: (
                            param_idx: 1,
                            mapping: (
                                variant: Linear,
                                linear: (
                                    offset: 0.0,
                                    scale: 0.25,
                                ),
                            ),
                        ),
                    ),
                    uniform: Some((
                        min: (
                            variant: FromParam,
                            fixed: 0.0,
                            from_param: (
                                param_idx: 1,
                                mapping: (
                                    variant: Linear,
                                    linear: (
                                        offset: 0.0,
                                        scale: 0.25,
                                    ),
                                ),
                            ),
                        ),
                        max: (
                            variant: FromParam,
                            fixed: 0.0,
                            from_param: (
                                param_idx: 1,
                                mapping: (
                                    variant: Linear,
                                    linear: (
                                        offset: 0.0,
                                        scale: 0.4,
                                    ),
                                ),
                            ),
                        ),
                    )),
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                Distributed((
                    variant: Constant,
                    constant: (
                        variant: Fixed,
                        fixed: 0.0,
                    ),
                    uniform: None,
                    uniform_cos_angle: None,
                    power_law: None,
                )),
                UInt(250),
                UInt(0),
                Enum(1),
            ],
            links_to_parents: [
                Some((
                    to_node: 60,
                    to_slot: 0,
                )),
            ],
            links_to_children: [],
        ),
    ],
    collapsed_nodes: [],
)