[package]
name = "impact_light"
description = "Light sources in the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
ecs = ["dep:inventory", "dep:impact_ecs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
bitflags = { workspace = true, features = ["bytemuck"] }
bytemuck = { workspace = true }
impact_alloc = { path = "../impact_alloc" }
impact_containers = { path = "../impact_containers" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_gpu = { path = "../impact_gpu" }
impact_math = { path = "../impact_math" }
impact_texture = { path = "../impact_texture" }
inventory = { workspace = true, optional = true }
nalgebra = { workspace = true }
num-traits = { workspace = true }
parking_lot = { workspace = true }
pastey = { workspace = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }

[lints]
workspace = true
