[package]
name = "impact_controller"
description = "Controllers for user interaction in the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[features]
arbitrary = ["dep:arbitrary"]
ecs = ["dep:inventory", "dep:impact_ecs"]
roc_codegen = ["dep:inventory", "roc_integration/roc_codegen"]
serde = ["dep:serde"]

[dependencies]
anyhow = { workspace = true }
approx = { workspace = true }
arbitrary = { workspace = true, optional = true }
bitflags = { workspace = true }
bytemuck = { workspace = true }
impact_alloc = { path = "../impact_alloc" }
impact_ecs = { path = "../impact_ecs", optional = true }
impact_geometry = { path = "../impact_geometry" }
impact_id = { path = "../impact_id" }
impact_math = { path = "../impact_math" }
impact_physics = { path = "../impact_physics" }
inventory = { workspace = true, optional = true }
roc_integration = { path = "../../../roc_integration" }
serde = { workspace = true, optional = true }

[lints]
workspace = true
