[package]
name = "impact_gpu"
description = "GPU primitives for the Impact engine"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

build = "build.rs"

[features]
arbitrary = ["dep:arbitrary"]
serde = ["dep:serde"]
tracy = ["impact_profiling/tracy"]

[dependencies]
aho-corasick = "1.1"
anyhow = { workspace = true }
arbitrary = { workspace = true, optional = true }
bytemuck = { workspace = true }
impact_alloc = { path = "../impact_alloc" }
impact_containers = { path = "../impact_containers" }
impact_log = { path = "../impact_log" }
impact_math = { path = "../impact_math" }
impact_profiling = { path = "../impact_profiling" }
naga = { version = "27.0", features = ["wgsl-out"] }
parking_lot = { workspace = true }
serde = { workspace = true, optional = true }
tinyvec = { workspace = true }
wgpu = { version = "27.0", default-features = false, features = [
    "std",
    "dx12",
    "metal",
    "vulkan",
    "wgsl",
    "naga-ir",
    "serde",
    "parking_lot",
] }

[lints]
workspace = true
